html {
	background: lightblue;
}

body {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	margin: 0 auto;
	padding: 20px;
}

.calculator {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	row-gap: .8vw;
	padding: 20px;
	box-sizing: border-box;
	background: grey;
    border: 2px solid #343131;	
    border-radius: 5px;
	box-shadow: 1px 0px 0px #323733, 1px 1px 0px #323733, 1px 1px 0px #323733, 2px 2px 0px #323733, 3px 3px 0px #323733, 4px 4px 0px #323733;
}

.display {
	flex: 0 0 100%;
	display: flex;
	justify-content: flex-end;
	height: 50px;
	background: #607990;
	color: white;
	box-shadow: inset 0 0 5px #000;
    border-radius: 5px;
}

.display p {
    padding-right: 10px;
    margin-right: 20px;
}

.calc-button {
	flex: 0 0 25%;
	box-sizing: border-box;
	text-align: center;
	background: #3b6732;
	border: 1px solid #29562c;
	border-radius: 10px;
	color: white;
	font-family: "Helvetica";
	font-weight: bold;
	box-shadow: 1px 0px 0px #315629, 1px 1px 0px #315629, 1px 1px 0px #315629, 2px 2px 0px #315629, 3px 3px 0px #315629;
}

.non-operators {
	display: flex;
	flex-basis: 74.5%;
	flex-flow: row wrap;
	justify-content: space-between;
    row-gap: .8vw;
}

.clear {
	flex-basis: 66.25%;
}

.delete {
	flex-basis: 32.45%;
}

.num-keys {
	flex-basis: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
    row-gap: .8vw;
}

.num-key {
	flex-basis: 32.44%;
}

.zero {
    flex-basis: 100%;
}

.operator-keys {
	flex-basis: 24.5%;
	display: flex;
	flex-flow: column wrap;
    row-gap: .8vw;
}

.operator-key {
	flex-basis: 15%;
}

.expressionSection {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 1px 0px 0px #323733, 1px 1px 0px #323733, 1px 1px 0px #323733, 2px 2px 0px #323733, 3px 3px 0px #323733, 4px 4px 0px #323733;
	border: 2px solid #343131;
	background: grey;
	padding: 20px;
	/* row-gap: 10px; */
}

.expressionBox {
	display: flex;
	flex: 1;
	background: black;
	padding: 20px;
	min-height: 300px;
	border-radius: 0 0 10px 10px;
}

#expression {
	flex: 1;
	margin: 0;
	font-size: 1.25rem;
	color: green;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}